*,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
  }
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: var(--br);
  }
  :root {
    --ff: "Roboto", sans-serif;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
    --clr-neutral-100: #fff;
    --clr-neutral-900: #020203;
  }
  body, h1 {
    font-family: var(--ff);
  }


  @media (min-width: 40em) {
    :root {
      --fs-200: 0.75rem;
      --fs-300: 1rem;
      --fs-400: 1.25rem;
      --fs-500: 1.375rem;
      --fs-600: 1.75rem;
      --fs-900: 2.125rem;
    }
  }